<config platform="android" template="android (default)">Created: Mon Jul 28 17:49:34 2014
By: Matz
Using Template: android (default)

&lt;description to go here><option name="android-icon-dir" fromDef="true" value=""/>
    <option name="android-icon-group" fromDef="true" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>"/>
    <option name="android-icon-gallery" fromDef="true" value=""/>
    <option name="android-icon-nonstandard" fromDef="true" value=""/>
    <option name="android-external-res" fromDef="true" value=""/>
    <option name="android-install-location" fromDef="true" value="1"/>
    <option name="android-pkgname" fromDef="true" value="com.Matz.BallGame"/>
    <option name="icon" fromDef="true" value=""/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="data/app.icf"/>
    <option name="name" fromDef="true" value="BallGame"/>
    <option name="caption" fromDef="true" value="BallGame"/>
    <option name="provider" fromDef="true" value="Matz"/>
    <option name="copyright" fromDef="true" value="(C) Matz"/>
    <option name="version" fromDef="true" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="android-manifest" fromDef="true" value=""/>
    <option name="android-custom-activity" fromDef="true" value=""/>
    <option name="android-extra-manifest" fromDef="true" value=""/>
    <option name="android-extra-application-manifest" fromDef="true" value=""/>
    <option name="android-extra-strings" fromDef="true" value=""/>
    <option name="android-supports-gl-texture" fromDef="true" value=""/>
    <option name="android-unsigned" fromDef="true" value=""/>
    <option name="android-tm" fromDef="true" value=""/>
</config>
